.page{
    background-color: #5c8ba9;
    font-size: x-large;
    display: flex;
    flex-flow: column;
}
.content{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.content .box{
    background-color: #b3c1ce;
    margin: 20px 15px;
    text-align: center;
}
.content .box .inner-box{
    display: flex;
    flex-flow: row;
    padding: 35px;
    justify-content: space-around;
}
.content .box .inner-box a img{
    width: 200px;
}
.content .box .title{
    text-align: end;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
    background-color: white;
}
.content .box .description{
    padding: 50px;
}
@media only screen and (max-width: 1200px) {
    .page{
        position: inherit;
    }
}
@media only screen and (min-width: 1200px){
    .page{
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
    }
}