.page{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    background-color: #5c8ba9;
    font-size: x-large;
    display: flex;
    flex-flow: column;
}
.content{
    
}
.content .box{
    background-color: #b3c1ce;
    margin: 20px 15px;
    text-align: center;
}
.content .box.rounded{
    border-radius: 5%;
}
.content .box .inner-box{
    display: flex;
    flex-flow: row;
    padding: 35px;
    justify-content: space-around;
}
.content .box .inner-box a img{
    width: 200px;
}
.content .box .title{
    text-align: end;
    font-size: x-large;
}
