/*Global*/
:root{
    --navbar-background: #14213D;

    --navbar-title-color:#8D99AE;
    --navbar-title-background:#14213D;
    --navbar-title-color-hover:#14213D;
    --navbar-title-background-hover:#8D99AE;

    --navbar-link-color:#8D99AE;
    --navbar-link-background:#14213D;
    --navbar-link-color-hover:#14213D;
    --navbar-link-background-hover:#8D99AE;

    --content-background:#D4C2FC;

    --curriculum-title-color:white;
    --curriculum-title-background:#2C3853;
    --curriculum-description-background:#333F5A;

    --form-background:#14213D;
    --form-color:#8D99AE;

    --form-input-color:#8D99AE;
    --form-input-background:#14213D;

    --form-input-color-focus:#14213D;
    --form-input-background-focus:#8D99AE;
    
    --form-input-border:#8D99AE;
    --form-input-border-focus:yellow;

    --footer-background:grey;
}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background: var(--content-background);
}
.title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 25px;
    color: white;
}
.social-list{
    display: flex;
    justify-content: space-evenly;
}
.social-list a img{
    width: 32px;
}


