/*Global*/
:root{
    --navbar-background: #14213D;

    --navbar-title-color:#8D99AE;
    --navbar-title-background:#14213D;
    --navbar-title-color-hover:#14213D;
    --navbar-title-background-hover:#8D99AE;

    --navbar-link-color:#8D99AE;
    --navbar-link-background:#14213D;
    --navbar-link-color-hover:#14213D;
    --navbar-link-background-hover:#8D99AE;

    --content-background:#D4C2FC;

    --form-background:#14213D;
    --form-color:#8D99AE;

    --form-input-color:#8D99AE;
    --form-input-background:#14213D;

    --form-input-color-focus:#14213D;
    --form-input-background-focus:#8D99AE;
    
    --form-input-border:#8D99AE;
    --form-input-border-focus:yellow;

    --footer-background:grey;
}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
.title{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 25px;
}
.social-list{
    display: flex;
    justify-content: space-evenly;
}
.social-list a img{
    width: 32px;
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-around;
    background: var(--navbar-background);
    padding: 20px;
}
.navbar div a{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    margin: 0 5px;
}
.navbar .home a{
    color: var(--navbar-title-color);
    background: var(--navbar-title-background);
}
.navbar .home a:hover{
    color: var(--navbar-title-color-hover);
    background: var(--navbar-title-background-hover);
}
.navbar .links a{
    background-color: var(--navbar-link-background);    
    color: var(--navbar-link-color);
}
.navbar .links a:hover{
    color: var(--navbar-link-color-hover);
    background: var(--navbar-link-background-hover);
}
/*content*/
.content{
    min-height: 5vh;
    background: var(--content-background);
}
/*form*/
.form-box{
    background-color: var(--form-background);
    color: var(--form-color);
    padding: 20px;
}
form{
    display: flex;
    flex-flow: column;
    margin: 50px 10%;
}
form .top{
    display: flex;
    justify-content: space-between;
}
form .top input{
    width: 45%;
}
form .bottom{
    display: flex;
    flex-flow: column;
}
form div input{
    font-size: x-large;
    height: 50px;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid var(--form-input-border);
    color: var(--form-input-color);
    background: var(--form-input-background);
}
form div input:focus{
    outline: none;
    border-bottom: 2px solid var(--form-input-border-focus);
}
/*footer*/
.footer{
    background: --footer-background;
}